# /etc/systemd/system/keyvalue-app.service

[Unit]
Description=keyvalue web app
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/john/key_value
ExecStart=/snap/bin/docker compose up -d --remove-orphans
ExecStop=/snap/bin/docker compose down

[Install]
WantedBy=multi-user.target
